@import "bootstrap-sprockets";
@import "bootstrap";

body
{
    padding-top: 60px;
}
    
section
{
    overflow: hidden;
}

textarea
{
    resize: vertical;
}

@media only screen and (max-width: 768px) {
    .spacer {
      margin-top: 12%;
    }
  }
    
        

/* forms */
input, textarea, select, .uneditable-input
{
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    /*@include box_sizing;*/
}
input
{
    height: auto !important;
}

#error_explanation
{
    color: red;
    ul
    {
        color: red;
        margin: 0 0 30px 0;
    }
}
.field_with_errors
{
    @extend .has-error;
    .form-control
    {
        color: $state-danger-text;
    }
}
    

/* User index */
.users
{
    list-style: none;
    margin: 0;
    li
    {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

/* header */
#logo
{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    font-family: 'Copperplate';
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover
{
color: #fff;
text-decoration: none;
}

#sub_header
{
    color: white;
}

#sub_header:hover
{
    color: #C3C3CA;
}
    

/* Home */
.path-H
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash 5s linear infinite;
}

.path-A
{
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: dash 5s linear infinite;
    animation-delay: 2s;
}

@keyframes dash
{
    to
    {
        stroke-dashoffset: 0;
    }
}