@import "bootstrap-sprockets";
@import "bootstrap";

body
{
    padding-top: 60px;
    background-color: #23F4CB;
    background-image: url('/assets/confetti.webp');
}

    
section
{
    overflow: hidden;
}

textarea
{
    resize: vertical;
}

@media only screen and (max-width: 768px) {
    .spacer {
      height: 125px;
    }
  }
    
        

/* forms */
input, textarea, select, .uneditable-input
{
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    /*@include box_sizing;*/
}
input
{
    height: auto !important;
}

#error_explanation
{
    color: red;
    ul
    {
        color: red;
        margin: 0 0 30px 0;
    }
}
.field_with_errors
{
    @extend .has-error;
    .form-control
    {
        color: $state-danger-text;
    }
}
    

/* User index */
.users
{
    list-style: none;
    margin: 0;
    font-size: larger;
    li
    {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-darker;
    }
}

/* header */
#logo
{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    font-family: 'Copperplate';
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover
{
color: #fff;
text-decoration: none;
}

#sub_header
{
    color: white;
}

#sub_header:hover
{
    color: #C3C3CA;
}
    

/* Home */
.path-H
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash-200 21s linear infinite;
}

.path-A
{
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: dash-400 21s linear infinite;
    animation-delay: 1.25s;
}

.path-P-1
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash-200 21s linear infinite;
    animation-delay: 2.5s;
}

.path-P-2
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash-200 21s linear infinite;
    animation-delay: 3.75s;
}

.path-Y
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash-200 21s linear infinite;
    animation-delay: 5s;
}

.path-B
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash-200 21s linear infinite;
}

.path-I
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash-200 21s linear infinite;
    animation-delay: .71s;
}

.path-R
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash-200 21s linear infinite;
    animation-delay: 1.42s;
}

.path-T
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash-200 21s linear infinite;
    animation-delay: 2.13s;
}

.path-H-2
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash-200 21s linear infinite;
    animation-delay: 2.84s;
}

.path-D
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash-200 21s linear infinite;
    animation-delay: 3.55s;
}

.path-A-2
{
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: dash-400 21s linear infinite;
    animation-delay: 4.26s;
}

.path-Y-2
{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash-200 21s linear infinite;
    animation-delay: 5s;
}

@keyframes dash-200
{
    0%
    {
        stroke-dashoffset: 200;
    }
    30%
    {
        stroke-dashoffset: 0;
    }
    100%
    {
        stroke-dashoffset: 200;
    }
}

@keyframes dash-400
{
    0%
    {
        stroke-dashoffset: 400;
    }
    30%
    {
        stroke-dashoffset: 0;
    }
    100%
    {
        stroke-dashoffset: 400;
    }
}