<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #23F4CB; background-image: linear-gradient(to bottom right, #23F4CB, #111871);">
    <div class="container">
        <%= link_to "Ruby-Birthday", '/', id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Home", '/', id: "sub_header" %></li>
                <li><%= link_to "Register", '/new', id: "sub_header" %></li>
                <li><%= link_to "All Users", '/show', id: "sub_header" %></li>
            </ul>
        </nav>
    </div>
</header>
